body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}
form {
  text-align: center;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 10px;
}
input,
textarea {
  width: 80%;
  margin-bottom: 10px;
  text-align: center;
}
button,
input[type="submit"] {
  text-decoration: none;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

button:hover,
input[type="submit"]:hover {
  background-color: #45a049;
}
